<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <Demo.Properties.Settings>
      <setting name="IsHiddenAppMode" serializeAs="String">
        <value>EAAAANJ49gnxnC+7tn0Vmxyjgp+0zWlr38ttQtMxYA1+D7r8</value>
      </setting>
      <setting name="EmailAddressFrom" serializeAs="String">
        <value>EAAAAKB7cg6twdeJKP/lZhxnP2FyLZsuwtTcX89WGE+OB1hefevn9ydcgMf+yF0Tte3OcQ==</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>EAAAAEz49LVCHMWwfhHidRqz0OE6vd58NWUcAU+y3tDiu+UG</value>
      </setting>
      <setting name="EmailAddressTo" serializeAs="String">
        <value>EAAAAB2nPaJI0z442fHjKuLeW3nNOS75uorALFeenYxiU9yqdyNFrJPYdPmz1FJ646H4zQ==</value>
      </setting>
      <setting name="FileSize" serializeAs="String">
        <value>EAAAAMvKbGBWJkTdwUNE7jgwDVeLAHH5rMtM+Lcgy+nl5nzr</value>
      </setting>
    </Demo.Properties.Settings>
  </userSettings>
</configuration>